services:
  db:
    image: mariadb:10.11
    container_name: seafile-mysql
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=mysql123
      - MYSQL_LOG_CONSOLE=true
      - MARIADB_AUTO_UPGRADE=1
    volumes:
      - "/home/openpyme/seafile/db:/var/lib/mysql"
    networks:
      - seafile-net
    healthcheck:
      test:
        [
          "CMD",
          "/usr/local/bin/healthcheck.sh",
          "--connect",
          "--mariadbupgrade",
          "--innodb_initialized",
        ]
      interval: 20s
      start_period: 30s
      timeout: 5s
      retries: 10

  redis:
    image: redis
    container_name: seafile-redis
    restart: unless-stopped
    command:
      - /bin/sh
      - -c
      - redis-server --requirepass "redis123"
    environment:
      - REDIS_PASSWORD=redis123
    networks:
      - seafile-net

  seafile:
    image: seafileltd/seafile-mc:13.0-latest
    container_name: seafile
    restart: unless-stopped
    ports:
      - "7024:80"
    volumes:
      - /home/openpyme/seafile/data:/shared
    environment:
      - SEAFILE_MYSQL_DB_HOST=db
      - SEAFILE_MYSQL_DB_PORT=3306
      - SEAFILE_MYSQL_DB_USER=seafile
      - SEAFILE_MYSQL_DB_PASSWORD=seafiledb123
      - INIT_SEAFILE_MYSQL_ROOT_PASSWORD=mysql123
      - SEAFILE_MYSQL_DB_CCNET_DB_NAME=ccnet_db
      - SEAFILE_MYSQL_DB_SEAFILE_DB_NAME=seafile_db
      - SEAFILE_MYSQL_DB_SEAHUB_DB_NAME=seahub_db
      - TIME_ZONE=America/Mexico_City
      - INIT_SEAFILE_ADMIN_EMAIL=admin@openpyme.mx
      - INIT_SEAFILE_ADMIN_PASSWORD=admin123
      - SEAFILE_SERVER_HOSTNAME=drive.openpyme.mx #192.168.10.8:7024
      - SEAFILE_SERVER_PROTOCOL=https
      - SITE_ROOT=/
      - NON_ROOT=false
      - JWT_PRIVATE_KEY=jwt123456
      - SEAFILE_LOG_TO_STDOUT=false
      - CACHE_PROVIDER=redis
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=redis123
      - ENABLE_NOTIFICATION_SERVER=false
      - INNER_NOTIFICATION_SERVER_URL=http://notification-server:8083
      - ENABLE_SEAFILE_AI=false
      - MD_FILE_COUNT_LIMIT=100000
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - seafile-net

networks:
  seafile-net:
    name: seafile-net


